    .container{
        border: 8px solid black;
        
        width: 1140px;
    }

    .navbar.style{
        background-color: white;
    }

   .section-title5.two
    h2{

        font-size: 60px;
}